body {
    background-color: rgb(171, 195, 241);
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inicio {
    display: flex;
    height: 100vh;
}

.foto {
    flex: 1;
    background-color: rgb(246, 246, 247);
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto img {
    width: 300px;
    height:auto;
    border-radius: 8px;
}